@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

/* Navbar */

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2b5b84;
}

.navbar .menu a{
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
}

.logo{
    font-weight: bold;
    font-size: 1.8rem;
    color: #fff;
}

.list{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

#toggler, .navbar label{
    display: none;
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar{
        
        padding: 20px;
    }

    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}

main{
    max-width: 50%;
    margin: auto;
}

.sobre{
    display: flex;
    margin: 15px 0px;
}

.sobre-foto{
    margin-right: 15px;
}

.sobre-textos p{
    height: 40px;
}

.fabio{
    border-radius: 50%;
    height: 150px;
}